/*
*********
COMMON
*********
*/

@use './variables' as *;

img {
    display: block !important;
}

.pseudo_element::after {
    content: '';
    height: 3px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    background-color: $salmon-color;
}