/*
*********
VARIABLES
*********
*/

// Color cube
$white-color: #ffffff;
$nevada-color: #62676c;
$shark-color: #1a1b1b;
$eastern-blue-color: #27aabe;
$salmon-color: #fc8c5e;
$silver-calice-color: #aeaeae;
$royal-blue-color: #6a5fe1;
$totem-pole-color: #951a0c;
$ultramarine-color: #0c1f86;
$malibu-color: #74def4;
// Median cut
$bizarre-color: #eee3d6;
$cape-cod-color: #3b3d3f;
$boston-blue-color: #399bc0;
$wedgewood-color: #516faa;
$downy-color: #6dc2d0;
// Material dedign 
$san-marino-color: #4562b0;
$oslo-gray-color: #969799;
$ironstone-color: #8a453f;
$shark-darkmuted-color: #202325;
$downy-lightvibrant-color: #6fc2d2;